# Ambientes Virtuais
venv/
env/
ENV/

# Arquivos do Python
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
env.bak/
venv.bak/

# Banco de Dados Local
db.sqlite3
db.sqlite3-journal

# Variáveis de Ambiente
.env

# Diretórios de Mídia e Estáticos (Opcional, mas recomendado)
media/
staticfiles/

# IDE e Sistema Operacional
.vscode/
.idea/
.DS_Store
Thumbs.db
